<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://00e9e64bace35c1a21ea079b9d4f1ea1a92d9697661116c01b-apidata.googleusercontent.com/download/storage/v1/b/dn9568/o/DN9568.ipa?qk=AD5uMEta4FNnegO4wDut45hP-yYRkjV5mblEyC3aWJrLVbiaQLzqj8R_J1heGDjUm7F9MPu0CnwdeFOUUheX_MWHvqtkO38F_YbxLzp8ANTSwmhLxF1akbcmAx57NoTiG5Ia6F44e3bjQ84cFYq5LPF4W4wnvwRyJVfE3_PQ3aGgu9FWs72PftshEPZg691f8jmxNQdJNhad6FtwOP0wgvjG0ts_pERn9UsK4Uo_lt5kgKg95xQphZDAxD_HdNQOIm1IWr1Jzq0NWoLHABjq_T2ydZUVyGsxwdts-SDwmTYHbzikoEmIEDSYZG6yflyxfYhngobp5UiBr9AzLvhq8woehRgc6meOwccjYt-XadLSy-UGjxR3cKLc8ThIyltPuzHj_gDwjtpOPk-nD96r04IDDB5aWzltJ6n8rIZKRCBoYYWx1w1o508khCeN23i8hGRnFhA9ki7oO2eigCYY1ti1z_GsEOU1_lRRFDxqab-E8NH6aYcOu9Sjvx7nlVyrH5tstcBuJfHORz2Kub9Wt5OHDNZ7zK_kqGhVwlT6jdZYH57HLCb467RGPky1RayzA43NyTTJcGcMYvbfKk2y-D_kvUwHNXnUcrCKqb6xp3wYGJT_zEQa-RezgTV3TyYlM1piAkGcXyYFzHXeOxrwC_jUMpFROyJwb_WVCTwXwQzQcXG1rmUyhu0M4Ek_oB-rXOoyoHAJRIPgNdxhMLZu5IncbpfYaBJXWmhYSb1Pbtc1e16e6PkZzOmHhkIFl3gqXHKSp_gH7Hjl</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>http://refill.dn9568.com/57.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>http://refill.dn9568.com/512.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.playerfb.dn9568</string>
				<key>bundle-version</key>
				<string>1.2.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>dn9568</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
