<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://doc-0o-3s-docs.googleusercontent.com/docs/securesc/la3ai57cr6skfd51fks2heobbumn5kkq/bqpn4gtic089av9okoleujikhknm0819/1551492000000/00070057920742998480/00070057920742998480/1rFBZEERJZxRJ_ezBl6WMYQ5UOCV_PloY?e=download</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.playerfb.libi888</string>
				<key>bundle-version</key>
				<string>1.2.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>dnmeasy</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
